
  section{
    background-image: url('../../../assets/images/Background pattern.png');
background-position: center;
background-size: cover;
height: 60vh;
}


.card-justify-height{
  height: 36.25rem !important;

  @media screen and (max-width: 992px) {
      height: 33.125rem;
    }
}
